.carousel-item img {
      width: 100%;
      object-fit: cover; 
      object-position: center; 
    }

    
    @media (max-width: 767px) {
      .carousel-item img {
        height: 50vh; 
      }
    }

    
    @media (min-width: 768px) {
      .carousel-item img {
        height: 100vh; 
      }
    }

/*botones de carruceles*/



.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(100%);}

  .carousel-indicators button {
  background-color: #C9A24B !important; /* Cambia "#ff0000" por el color que quieras (Rojo en este caso) */
}